<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>


        <div class="menu">
            <ul>
                <li><a href={% url 'index' %}><u>Main</u></a></li>
                <li><a href={% url 'register' %}><u>Sign in</u></a></li>
                <li><a href={% url 'login' %}><u>Log in</u></a></li>
                <li><a href={% url 'application' %}><u>Applicate</u></a></li>
            </ul>
        </div>
    </nav>
    <form method="POST">
    {% csrf_token %}
    <input name="username" placeholder="username">
    <input name="email" placeholder="email">
    <input name="phone" placeholder="phone">
    <button type="submit">
        Accept
    </button>
</body>
</html>