{% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <a href="#" class="home">Home</a>
    <div class="menu-toggle"></div>
    <nav>
        <ul>
            <li><a href={% url 'index' %} class="active"><u>Main</u></a></li>
            <li><a href={% url 'register' %}><u>Sign in</u></a></li>
            <li><a href={% url 'login' %}><u>Log in</u></a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</header>
<body>
<section>
    <div class="container">
        <div class="circle">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <div class="container-center">
                    <div class="card">
                        More text More text More text
                        More text
                    </div>
                </div>
            </div>
            <div class="circle">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:0;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
                <span style="--i:4;"></span>
                <span style="--i:5;"></span>
                <span style="--i:6;"></span>
                <span style="--i:7;"></span>
                <span style="--i:8;"></span>
                <span style="--i:9;"></span>
                <span style="--i:10;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:13;"></span>
                <span style="--i:14;"></span>
                <span style="--i:15;"></span>
                <span style="--i:15;"></span>
                <span style="--i:16;"></span>
                <span style="--i:17;"></span>
                <span style="--i:18;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
            </div>
        </div>
</section>
</body>
</html>