
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applications</title>
</head>
<body>
    <nav>


        <div class="menu">
            <ul>
                <li><a href={% url 'index' %}><u>Main</u></a></li>
                <li><a href={% url 'register' %}><u>Sign in</u></a></li>
                <li><a href={% url 'login' %}><u>Log in</u></a></li>
                <li><a href={% url 'login' %}><u>Applicate</u></a></li>
            </ul>
        </div>
    </nav>
<form method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <button type="submit">
        Register
    </button>
</form>
</body>
</html>